[{:slug "cartpole" :author "Tim" :title "Cart Pole Project" :date "2026-05-05" :tags ["Robotics" "Control Systems" "Reinforcement Learning"]}
 {:slug "vibook" :author "Tim" :title "ViBook interactive touch book Project" :date "2026-05-05" :tags ["Embedded Systems" "PCB"]}]